/* General */

h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 4.5em;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 1%;
}

h2 {
  font-family: "Exo 2", sans-serif;
  color: white;
  font-size: 3em;
  letter-spacing: 4px;
}

h3 {
  font-family: "Karla", sans-serif;
  text-align: center;
}

p {
  font-family: "Karla", sans-serif;
  margin-top: 1%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #d537df;
  font-weight: bold;
}

li {
  list-style-type: none;
} 

/* Classes */

.main-nav {
  text-align: right;
  margin:3% 3% 0 0;
}

.main-nav a{
  margin-top: 30px;
  padding:1%;
  font-family: "Karla", sans-serif; 
}

.logo {
 position: absolute;
 left:0;
 top:0;
}

.main-section-div {
  position: relative;
  margin: 0 1% 0 1%;
  height: 25em;
  overflow: hidden;
}

.main-section-div > * {
  color:white;
}

.slider {
  width: 100%;
}

.text-overlay {
  position: absolute;
  padding-left: 10%;
  padding-top: 10%;
}

  .text-overlay-2 {
    position: absolute;
    margin-left: 50%;
    margin-top: 12%;
    transform: translate(-50%, -50%);
  }
 
  
/* 
.main-section-two {
    font-family: 'Karla', sans-serif;
    display:flex;
    margin-top: 1%;
}

.main-section-two span {
    flex-basis: 100%;
    height:15em;
    background-color: black;
    margin-right: 1%;
} */

.main-call-action {
    height:15em;
    margin: 1% 1% 0 1%;
    color:white;
    overflow: hidden;
}

.main-section-three {
  display: flex;
  margin: 1% 0 0 0;
  justify-content: center;
}

.icon-box {
  width: 20%;
  flex-basis: 80%;
  height: 15em;
  margin-right: 1%;

}

/* Products */


.products-section {
    font-family: 'Karla', sans-serif;
    display:flex;
    margin-top: 4%;
    margin-bottom: 4%;
}

.products-section span {
    flex-basis: 100%;
    height:15em;
    margin-right: 1%;
    padding: .4% 0 0 .7%;
}

.products-section span:hover {
    opacity: .5;
}

.products-section span > img {
    height:210px;
    width:413px;
}

.product-title {
    text-align: center;
}


/* End Products */

/* Javascript Slideshow */

* {box-sizing:border-box}

.slideshow-container {
  max-width: 100%;
  position: relative;
  text-align: center;
}

.slideshow-container img {
  height:500px;
  width:500px;
}

.mySlides {
  display: none;
}
/* 
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding:16px;
  color:white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

.next {
  right:0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);

}

.text {
  text-align: center; 
}

.numberText {
  text-align: center;

}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* End Javascript Slideshow */

.footer-div {
  background: linear-gradient(45deg, black , #d537df);
  margin: 1% 1% 0 1%;
  padding: 1%;
  color: white;
  height: 6em;
}

.footer-text {
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
